<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            padding: 5em 11em;
            font-family: Georgia, "Times New Roman",
                Times, serif;
            color: purple;
            background-color: #d8da3d
        }

        h1 {
            font-family: Helvetica, Geneva, Arial,
                SunSans-Regular, sans-serif
        }

        a:link {
            color: blue
        }

        a:visited {
            color: purple
        }

        h1,
        h2 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p,
        li {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('partials/nav') %>
    <h1>Profile page</h1>

    <p>Welcome <%= name %></p>
    <div>
        <h2>Hobbies</h2>
        <ul>
            <% hobbies.forEach(function (hobby) { %>
            <li><%= hobby %></li>
            <%}) %>
        </ul>
    </div>

</body>

</html>

<!-- https://www.w3.org/Style/Examples/011/firstcss.en.html -->